.moduleOfScreen{
  z-index: 2;
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
  border-radius: var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;
}