#lockScreen{
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size:cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-image: var(--bg-image);

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
#contWp{
    position: absolute;
    top: 0;
    z-index: -1;
    width: auto;
    height: 100%;
    background-size: cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;
    background-image: var(--bg-image);
}
#starsWp{
    width: auto;
    height: 100%;
    
}
#starsWp:hover{
    cursor: none;
}
#contElemLockScreen{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#groupScreen{
    width: 100%;
    height: calc(var(--height) - 4rem);
    min-width: 25em;
    min-height: 38em;
    margin-top: 4em;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#groupScreenTop{
    width: 100%;
    height: auto;
    color: #fff;
    font-weight: bolder;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
#dateScreen,
#hourScreen{
    width: 100%;
    user-select: none;
    text-shadow: 0 0 0.5em black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#dateScreen{
    height: auto;
    font-size: 1.8em;
}
#hourScreen{
    height: 6rem;
    font-size: 7em;
}



/*
    Inicio
    lockScreen Memoji
*/
#lockScreenMemoji{
    width: 100%;
    height: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lockScreenMemoji > #memoji{
    width: 28vh;
    height: auto;
    max-width: 16em;
    transform: translateY(-1.5em);
}
/* Fin - lockScreen Memoji*/





#groupScreenDown{
    position: absolute;
    bottom: 0;
    width: var(--width);
    height: 5em;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

#unlockOption{
    width: auto;
    height: 3em;
    cursor: pointer;
    padding: 0 1em 0 1em;

    display: flex;
    justify-content: center;
    align-items: center;
}
#unlockBySliding{
    width: auto;
    height: 100%;
    padding: 0 1em 0.5em 1em;
    font-size: 1em;
    text-shadow: 0.1em 0.1em 0.4em black;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}





.up{
    transition:all ease-in-out 1s;
    margin-bottom: 3em;
    color: #e7d35d;
}
.lockScreen{
    animation: lockScreen;
    animation-duration: 600ms;
}
.unlockScreen{
    animation: unlockScreen;
    animation-duration: 600ms;
}
@keyframes lockScreen{
    0%{
        transform: translateY(-50em);
    }
    100%{
        transform: translateY(0em);
    }
}
@keyframes unlockScreen{
    0%{
        transform: translateY(0em);
    }
    100%{
        transform: translateY(-50em);
    }
}