.contTotal,
.contTotal.iconHomeEffect_appImg{
    width: 5rem;
    height: 5.188rem;
    padding: 0rem 0.25rem 0rem 0.25rem;
    margin: 0.25rem;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.contToggle{
    width: 4.5rem;
    height: 100%;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.content_app_widget{
    cursor: pointer;
    width: auto;
    border-radius: 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content_app_widget > img{
    display: flex;
}
.appImg{
    width: 4rem;
    height: 4rem;
}
.widget{
    width: 10.25rem;
    height:auto;
    margin: 0.5rem;
}


.content_app_widget__focus{
    animation: effectOpen;
    animation-duration: 700ms;
}
#Curriculum{
    border-radius: 20%;
    background-color: white;
}
.textApp{
    color:white;
    font-size: 0.75rem;
    text-shadow: 0rem 0rem 0.5rem black;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes effectOpen{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}

/***/
/*
@keyframes animationIcon{
    0%{
        transform: scale(5) translateY(15em);
    }
    90%{
        transform:scale(0.9) translateY(0em);
    }
    100%{
        transform:scale(1);
    }
}

.appNone{
    animation: animationIcon;
    animation-duration:1s;
    transform:scale(1) translateY(0em);
}*/ 