@font-face {
  font-family: "sf_pro";
  src: url("/fonts/sf_pro.ttf") format("truetype");
}

@font-face {
  font-family: "coffeeSoda";
  src: url("/fonts/coffee_soda.ttf") format("truetype");
}

@font-face {
  font-family: "chocoShake";
  src: url("/fonts/choco_shake.ttf") format("truetype");
}