#ios{
    position: relative;
    width: var(--width);
    height: var(--height);

    overflow: hidden;
    background-image: var(--bg-image);
    background-size:cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
#splide__slide {
    position: absolute;
    width: var(--width);
    height: var(--height);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.iconHomePosition_appImg{
    transform: scale(2) translateY(50em);
}
.iconHomeEffect_appImg{
    animation: iconEffectAppImg;
    animation-duration: 600ms;
}
@keyframes iconEffectAppImg{
    0%{
        transform: scale(2) translateY(50rem);
    }
    85%{
        transform: scale(0.8) translateY(0rem);
    }
    100%{
        transform: scale(1);
    }
}

.iconHomePosition_widget{
    transform: scale(1.3) translateY(50em);
}
.iconHomeEffect_widget{
    animation: iconEffectWidget;
    animation-duration: 600ms;
}
@keyframes iconEffectWidget{
    0%{
        transform: scale(1.3) translateY(50em);
    }
    85%{
        transform: scale(0.8) translateY(0em);
    }
    100%{
        transform: scale(1);
    }
}


#contIos{
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
}
/**/
#addContIos{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}