#content_dock{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8.75rem;
    z-index: 40;

    display: flex;
    justify-content: center;
    align-items: center;
}
.dock{
    width:96%;
    max-width: 35rem;
    height: calc(4rem + 2.5rem);
    overflow: hidden;
    max-width: 25em;
    margin: 1.1rem;
       
    border-radius: var(--border-radius-2);
    backdrop-filter: blur(0.5em);
    background-color: var(--bg-color-a);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}