#buttonHome{
    position: absolute;
    z-index: 51;
    bottom: 0.4rem;
    width: 50%;
    height: 0.3em;
    max-width: 10rem;
    border-radius: 2em;
    background-color: rgba(34, 32, 32, 0.5);
    transition: all ease-in-out 2s;

    display: block;
}