.container_list_app{
    width: 100%;
    min-width: 20rem;
    height: auto;
    margin: 0.4rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.container_apps{
    width: calc(var(--width) - 8%);
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}