#screenLoader {
    position: absolute;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    color: white;
    background: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
#screenLoader > #contLoader {
    position: absolute;
    z-index: 501;
    width: 100%;
    height: auto;
    top: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screenLoader > #contLoader img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: var(--border-radius);
}
#screenLoader > #contLoader > #contLoad{
    width: 10em;
    height: 0.2em;
    max-width: 10em;
    border-radius: 10em;
    margin-top: 2em;
    background-color: #333;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#screenLoader > #contLoader > #contLoad > #load{
    animation: load 5s normal forwards;
    border-radius: 10em;
    background: #ffffff;
    height: 0.2em;
    width: 0;
}

#screenLoader > #copyright {
    position: absolute;
    z-index: 501;
    width: 100vw;
    height: auto;
    bottom: 15vh;
    color: white;
    font-size: 0.8em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#screenLoader > #copyright > #author {
    width: auto;
    min-height: 1em;
    margin: 0.1em;
    font-size: 0.9em;
}

#screenLoader > #copyright > #versionDate {
    color: white;
    font-size: 0.9em;
}

@keyframes load {
    0% {
      width: 0; }
    100% {
      width: 100%; }
}