*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: sfPro;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: whitesmoke;

  --width: 25.125rem;
  --height: 54.625rem;
  --border-radius: 4.5rem; /*1.625rem;*/
  --border-radius-2: 2.5rem;/*3.8rem;*/
  --bg-image: url("./Iphone/IOS/public/assets/wp/wp.jpg");
  --bg-color-a: rgba(138, 135, 135, 0.4);
  --bg-color-a2: rgba(61, 58, 61, 0.9);
  --blur: blur(0.6rem);
  --min-width: 24.375em;
  --min-height: 52.75em;
  --bg-color: black;
  --t1:#b8b8b8;

  /*Button*/
  --bgBtn:#8d8d8d;
  --borderBtn: #6d6d6d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background:
  linear-gradient(217deg, rgba(199, 156, 255, 0.9), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgb(2, 3, 49), rgb(0, 89, 255) 70.71%),
  linear-gradient(336deg, rgb(25, 2, 78), rgb(162, 0, 255) 70.71%);

  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: landscape) {
  #root{
      height: 100vh;
  }
}

body {
  width: 100%;
  min-width: 320px;
  height:100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


a {
  font-weight: 500;
  color: white;/*#646cff;*/
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.hide{
  display: none;
}

canvas{
  pointer-events: none;
  overflow-y: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}