body{
    width: 25.125rem;
    height: 50rem;
    margin-top: 3rem;
    overflow: hidden;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}