@import "./IOS/CompApps/allApps.css";
#iphoneScreen{
    width: calc(var(--width) + 1rem);
    height: calc(var(--height) + 1rem);
    cursor:pointer;
    overflow: hidden;

    border-radius: var(--border-radius);
    border: 0.5rem solid black;
    box-shadow: inset 0 0 0.5rem 0.3rem #000;

    background-color: black;
    background-size:cover;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: no-repeat;

    transition: all ease-in-out 1s;
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
main{    
    display: flex;
    justify-content: center;
    align-items: center;
}